* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth !important;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

/* webnav start */

.webnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  background-color: none;
  padding: 0% 4%;
}

.webnavul {
  display: flex;
  align-items: center;
  margin: 0%;
}

li {
  list-style: none;
  margin-left: 2em;
  font-weight: 500;
  transition: 0.3s;
  letter-spacing: 2px;
}

.webnavul a {
  text-decoration: none;
}


/* resp nav start */

.respnav {
  height: 100vh;
  width: 100%;
  background-color: #111;
  z-index: 999;
  position: fixed;
  top: 0%;
  right: -100%;
}

.resp-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 6%;
  height: 6em;
}

.respul {
  height: 70vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: start;
  font-size: 1.5rem;
  text-align: left;
  padding: 0%;
  margin: 0%;
}

.respul {
  color: #fff !important;
  text-decoration: none;
}

/* menu section start */

.menu {
  cursor: pointer;
  display: none;
}

/* media query for resp */
@media(max-width:768px) {
  .webnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    background-color: none;
    padding: 0% 6%;
  }

  .menu {
    height: 3.2em;
    width: 3.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .webnav ul {
    display: none;
  }
  #cursor{
    display: none !important;
  }
}

@media(min-width:770px) {
  .respul {
    display: none;
  }

  .respnav {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0%;
    display: none;
  }
}

/* hero section start */

.hero-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  width: 100%;
  cursor: default;
  box-sizing: border-box;
  overflow-x: hidden !important;

}


.hero-detail h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
}

.hero-btn {
  height: 2.5em;
  width: 8em;
  border-radius: 8px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  border: 2px solid #ffbd39;
  cursor: pointer;
  margin-top: 1em;
}

.hero-img {
  height: 430px;
  width: auto;
}

@media (max-width:1000px) {
  .hero-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    cursor: default;
    padding: 0% 4%;
  }

  .hero-detail h2 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 0%;
  }

  .hero-img {
    height: 450px;
    width: auto;
  }
}

@media (max-width:780px) {
  .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100%;
    cursor: default;
  }

  .hero-detail {
    text-align: center;
  }

  .hero-detail h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0%;
  }

  .hero-img {
    height: 300px;
    width: auto;

  }
}

/* about section start */
#about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6em;
}

#about h2 {
  text-align: center;
  font-size: 2.6rem;
  color: #fff;
  font-weight: bold;
  /* margin-top: 2em; */
}

.about-overlay {
  position: absolute;
  top: 25%;
  left: -17%;
  font-size: 5.5rem;
  letter-spacing: 4px;
  z-index: -99;
  color: #9999992c;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-outer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  cursor: default;
  position: relative;
}

.about-detail {
  width: 30em;
  text-align: left !important;
  z-index: 11;
}

.about-detail h2 {
  font-size: 3.5rem;
  text-align: left !important;
  margin-bottom: 0.5em;
}

.about-detail p {
  font-weight: 400;
  color: #ffffffab;
  text-align: left;
}

.about-img {
  height: 300px;
  width: auto;
  border-radius: 16px;
}

@media (max-width:1000px) {
  .about-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    cursor: default;
    position: relative;
    gap: 2em;
  }

  .about-detail h2 {
    text-align: center ;
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }

  .about-detail p {
    font-weight: 400;
    color: #ffffffab;
    text-align: center;
  }

  .about-img-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-img {
    height: 250px;
    width: auto;
  }
}

@media (max-width:780px) {
  #about {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }

  .about-outer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 100%;
    cursor: default;
    position: relative;
  }

  .about-detail {
    text-align: center;
    height: 80%;
    margin-bottom: 0.5em;
  }

  .about-detail h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0%;
  }

  .hero-img {
    height: 200px;
    width: auto;

  }
}

@media(max-width:590px) {
  .about-detail {
    width: 18em;
    height: 100%;
    text-align: center;
  }
}


/* services section start */

#services {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

#services h2 {
  text-align: center;
  font-size: 2.4rem;
  color: #fff;
  /* margin-top: 2em; */
  font-weight: bold;
}

.service-overlay {
  position: absolute;
  top: 30%;
  left: -10%;
  font-size: 3.8rem;
  letter-spacing: 4px;
  z-index: -99;
  color: #9999992c;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.service-card {
  text-align: center;
  width: 100%;
  height: 14em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 8px #1e1e1e ;
  padding-left: 10px;
  padding-right: 10px;
}

.service-card img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 15px;
}
.service-card h5 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.service-card p {
  font-size: 1rem;
  color: #cccccc;
}
@media (max-width: 1115px) {
#e-com{
  font-size: 1.3rem;
  margin-bottom: 12px;
}
}

@media (max-width: 992px) {
  .ser-row {
      flex-direction: column;
      align-items: center;
  }
  .col-md-4 {
      width: 100% !important;
  }
  .service-card {
      width: 100%;
      margin-bottom: 20px;
  }
}

@media(max-width:1000px) {
  #services {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }
} 

/* hire me */

#hire-me {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 background-image: linear-gradient(rgba(0, 0, 0, 0.548),rgba(0, 0, 0, 0.548)), url(./assets/hire-bg.jpg);
 background-attachment: fixed;
}
.inner-hire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  color: #fff !important;
  z-index:2 ;
}
.inner-hire h2{
  font-size: 4rem;
}
@media(max-width:430px){
  .inner-hire h2{
    font-size: 2.8rem;
  }
}
.inner-hire h4{
  font-weight: 400;
}
.hire-btn{
  height: 3em;
  width: 8em;
  background-color: #ffbd39;
  border: none;
  color: #111;
  font-weight: 600;
}


/* skills section start */
#skills {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 2em;
}

.skill-heading {
  position: relative;
  margin-top: 3em;
}

#skills h2 {
  text-align: center;
  font-size: 2.6rem;
  color: #fff;
  font-weight: bold;
}

.skill-overlay {
  position: absolute;
  top: 20%;
  left: -20%;
  font-size: 5.5rem;
  letter-spacing: 4px;
  z-index: -99;
  color: #9999992c;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skill-item {
  text-align: center;
}
.skill-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}
.skill-item h5 {
  margin-top: 10px;
  font-size: 1.2rem;
}


@media(max-width:760px) {

  #skills {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

/* project section */

#project {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding-bottom: 80px;
}

#project h2 {
  text-align: center;
  font-size: 2.4rem;
  color: #fff;
  font-weight: bold;
}

.project-overlay {
  position: absolute;
  top: 40%;
  left: -7%;
  font-size: 3.6rem;
  letter-spacing: 4px;
  z-index: -99;
  color: #9999992c;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-gap: 1.5em;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width:1200px) {
  #project {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 60px;
  }
  #project h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 1em;
    font-weight: bold;
  }
  .project-overlay {
    position: absolute;
    top: 25%;
    left: -5%;
    font-size: 3.2rem;
    letter-spacing: 4px;
    z-index: -99;
    color: #9999992c;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #grid {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 2em;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:880px) {
  #grid {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    grid-gap: 2em;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.griditems {
  height: 17em;
  width: 25em;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  background-image: url(./assets/e-commerce.png);
  background-size: cover;
  background-position: center;
  transition: 0.6s !important;
  top: 0%;
}

.griditems:nth-child(2) {
  background-image: url(./assets/cts.png);
  background-position: 0;
  background-size: cover;
}
.griditems:nth-child(3) {
  background-image: url(./assets/sports\ info.png);
  background-position: center;
  background-size: cover;
}

.griditems:hover {
  top: -10px;
}

@media (max-width:500px) {
  .griditems {
    height: 13.5em;
    width: 18.5em;
    position: relative;
    border-radius: 10px;
    display: flex;
    object-fit: cover;
  }
}


.content-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.922);
  position: absolute;
  bottom: -100%;
  left: 0%;
  transition: 0.6s;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;
  border-radius: 10px;

}
.griditems:hover .content-overlay {
  bottom: 0%;
}
.visitbtn {
  height: 2em;
  width: 6em;
  background-color: transparent;
  color: #fff;
  border: 2px solid #ffbd39;
  border-radius: 8px;
}


.project-btn {
  height: 2.5em;
  width: 8em;
  background-color: transparent;
  color: #fff;
  border: 2px solid #ffbd39;
  border-radius: 8px;
  font-weight: 600;
}



/* contact section start */
#contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin-bottom: 2em;
}

.contact-heading h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.contact-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.contact-overlay {
  position: absolute;
  top: 30%;
  font-size: 3.8rem;
  letter-spacing: 4px;
  z-index: -99;
  color: #9999992c;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-outer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-outer h2 {
  color: #fff;
}

.contact-detail {
  height: 32em;
  width: 25em;
  box-shadow: 0px 0px 30px 2px #11111197;
  border-top-left-radius: 100px;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6em;
}

.details {
  display: flex;
  gap: 0.5em;
}

.socials-media {
  margin-bottom: 3.5em;
}

.icons-outer {
  display: flex;
  gap: 1em;
}

.icons-media a {
  height: 2.5em;
  width: 2.5em;
  border-radius: 45px;
  border: 2px solid #ffbd39;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-m {
  transition: 0.6s;
}

.icons-media:hover .i-m {
  transform: scale(1.1);
}

.contact-info {
  height: 32em;
  width: 25em;
  box-shadow: 0px 0px 30px 2px #11111197;
  border-bottom-right-radius: 100px;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.contact-info form input {
  height: 2.5em;
  width: 18em;
}

::placeholder {
  color: #fff;
  padding-left: 1.5%;
}

.contact-info form textarea {
  height: 10em;
  width: 18em;
}

.contact-info form button {
  height: 2.5em;
  width: 8em;
  border-radius: 8px;
  border: 2px solid #ffbd39;
  background-color: transparent;
}

/* @media(max-width:1024px) {
  #contact {
    margin-top: 0em;
  }
} */

@media(max-width:875px) {
  #contact {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-bottom: 2em;
  }

  .contact-outer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width:480px) {
  .contact-detail {
    height: 30em;
    width: 18em;
    box-shadow: 0px 0px 30px 2px #11111197;
    border-top-left-radius: 100px;
    padding: 4% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6em;
  }

  .contact-info {
    height: 30em;
    width: 18em;
    box-shadow: 0px 0px 30px 2px #11111197;
    border-bottom-right-radius: 100px;
    padding: 4% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-info form input {
    height: 2.5em;
    width: 15em;
  }
  .contact-info form
   input::placeholder,
   textarea::placeholder {
    font-size: 14px;  
  }

  .contact-info form textarea {
    height: 10em;
    width: 15em;
  }
}

/* FOOTER SECTION */
footer {
  height: 6em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #fff;
  margin-top: 5em;
  box-shadow: 0px 0px 30px 2px #11111197;
  text-align: center;
}

/* icons */

#icons {
  display: flex;
  align-items: center;
  gap: 1em;
  position: fixed;
  bottom: 2%;
  left: 1%;
  z-index: 9999;
}

/* wp */

#wp{
  position: fixed;
  bottom: 20%;
  right: 2%;
  z-index: 999 !important;
  height: 3.5em;
  width: 3.5em;
  background-color: #111;
  box-shadow: 0px 0px 30px 2px #11111197;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#wp img{
  animation: wp 1s ease; 
}

@keyframes wp{
  0%{
    transform: scale(0.5);
  }
}

/* up arrow */
#up{
  height: 4em;
  width: 4em;
  background-color: #111;
  box-shadow: 0px 0px 30px 2px #11111197;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  position: fixed;
  bottom: 6%;
  right: 2%;
  z-index: 999 !important;
  animation: a 3s ease; 
}

@keyframes a{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#up i{
  font-size: 2.3rem;
  color: #fff;
  animation: arrow 2s infinite; 
}
@keyframes arrow{
   50%{
    transform: translateY(8px);
   }
}

/* cursor */

#cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 50px;
  background-color: #ffbd39;
  border-radius: 45px;
  z-index: 9999;
  position: fixed;
  top: 0%;
  mix-blend-mode: difference;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 5px;
  border-radius:45px;
}
::-webkit-scrollbar-thumb {
  background: #ffbd39; 
  border-radius: 45px;
}




