*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  overflow-x:hidden ;
  background-color: #111 !important;
}
a{
  color: #fff !important;
  text-decoration: none !important;
}
/* webnav start */

.webnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  background-color: none;
  padding: 0% 4%;
}
.webnavul{
  display:  flex;
  align-items: center;
  margin: 0%;
}
li {
  list-style: none;
  margin-left: 2em;
  font-weight: 500;
  transition: 0.3s;
  letter-spacing: 2px;
}
.webnavul a{
  text-decoration: none;
}


/* resp nav start */

.respnav{
  height: 100vh;
  width: 100%;
  background-color: #111 ;
  z-index: 999;
  position: fixed;
  top: 0%;
  right: -100%;
}
.resp-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 6%;
  height: 6em;
}
.respul{
  height: 70vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: start;
  font-size: 1.5rem;
  text-align: left;
  padding: 0%;
  margin: 0%;
}
.respul {
  color: #fff !important;
  text-decoration: none;
}

/* menu section start */

.menu{
  cursor: pointer;
  display: none;
}

/* media query for resp */
@media(max-width:768px){
  .webnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    background-color: none;
    padding: 0% 6%;
  }
  .menu{
      height: 3.2em;
      width: 3.2em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }
  .webnav ul{
      display: none;
  }
}
@media(min-width:770px){
  .respul{
    display: none;
  }
  .respnav{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0%;
    display: none;
  }
  }

/* hero section start */

.hero-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  width: 100%;
  cursor: default;
  box-sizing: border-box;
  /* padding: 0% 4.5%; */
}
.hero-detail h2{
  font-size: 3.5rem;
 }
 .hero-btn{
  padding: 10px 40px;
  font-size: 15px;
  position: relative;
  background: transparent;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #ffbd39;
  cursor: pointer;
  overflow: hidden;
  border-radius: 100px;
  margin-top: 1em;
}

.hero-btn:hover {
  color: #000;
  font-weight: bold;
}
.hero-btn span {
  transition: all 0.7s;
  z-index: -1;
}

.hero-btn .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #ffbd39;
}

.hero-btn:hover .first {
  top: 0;
  right: 0;
}
.hero-btn .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #ffbd39;
}

.hero-btn:hover .second {
  top: 0;
  left: 50%;
}

.hero-btn .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #ffbd39;
}

.hero-btn:hover .third {
  top: 0;
  left: 25%;
}

.hero-btn .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #ffbd39;
}

.hero-btn:hover .fourth {
  top: 0;
  left: 0;
}
.hero-img{
  height: 450px;
  width: auto;
}

@media (max-width:1000px){
  .hero-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    cursor: default;
  }
  .hero-detail h2 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 0%;
  }
  .hero-img{
    height: 450px;
    width: auto;
  }
}
@media (max-width:780px){
  .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100%;
    cursor: default;
  }
  .hero-detail{
    text-align: center;
  }
  .hero-detail h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0%;
  }
  .hero-img{
    height: 300px;
    width: auto;

  }
}

 /* about section start */

 .about-outer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  cursor: default;
  position: relative;
}
.about-detail{
  width: 30em;
  height: 68%;
  text-align: center;
  z-index: 11;
}
.about-detail h2{
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0.5em;
 }
 .about-detail p{
  font-weight: 400;
  color: #ffffffab;
  text-align: center;
 }
 .about-img-div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.about-img{
  height: 300px;
  width: auto;
  border-radius: 16px;
}
@media (max-width:1000px){
  .about-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    cursor: default;
    position: relative;
    gap: 2em;
  }
  .about-detail h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }
  .about-detail p{
    font-weight: 400;
    color: #ffffffab;
    text-align: center;
   }
   .about-img-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .about-img{
    height: 250px;
    width: auto;
  }
}
@media (max-width:780px){
  .about-outer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 100%;
    cursor: default;
    position: relative;
  }
  .about-detail{
    text-align: center;
    height: 80%;
    margin-bottom: 0.5em;
  }
  .about-detail h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0%;
  }
  .hero-img{
    height: 200px;
    width: auto;

  }
}
@media(max-width:590px){
  .about-detail{
    width: 18em;
    height: 100%;
    text-align: center;
  }
}


  /* services section start */
  .services-outer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
    .col{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .row{
      align-content: center;
      justify-content: center;
    }
  .service-cards{
      width: 25rem !important;
      height: fit-content !important;
      transition: 0.6s !important;
      color: #ffffff !important;
      z-index: 9;
  }
  .service-cards:hover{
    background-color: #ffbd39 !important;
  }
  .service-cards p{
    font-weight: 400 !important;
}
@media (max-width:780px){
  .services-outer{
    margin-top: 4em;
  }
}
  @media(max-width:480px){
      .service-cards{
          width: 17rem !important;
          height: 23rem !important;
          margin: 0% auto;
          z-index: 9;
  }
  }
@media(max-width:1000px){
  .services-outer{
    height:fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}


 /* skills section start */

 
.skill-outer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
.skill-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 1.5%;
  margin-bottom: 0%;
}
.skills{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
progress{
  width: 32em;
  height: 15px;
  border-radius: 10px;
}
progress::-webkit-progress-bar {
  background-color:#ffffff;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color:#ffbd39;
  border-radius: 10px;
  transition: width 0.4s ease-in;
}
@media(max-width:1200px){
  progress{
    width: 30em;
    height: 15px;
    border-radius: 10px;
  }
}
@media(max-width:1050px){
  progress{
    width: 20em;
    height: 15px;
    border-radius: 10px;
  }
}
@media(max-width:760px){
  .skill-outer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin-top: 4em;
    margin-bottom: 4em;
    position: relative;
  }
  progress{
    width: 16em;
    height: 15px;
    border-radius: 10px;
  }
}





















/* icons */

#icons{
  display: flex;
  align-items: center;
  gap: 1em;
  position: fixed;
  bottom: 2%;
  left: 1%;
  z-index: 9999;
}









































  /* #project-sec{
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: aqua;

  }
  .project-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-left: 175em;
    
  }
  .projects{
    height: 20em;
    width: 40em;
    border: 4px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  } */









#cursor{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  width: 30px;
  /* background-color: #ffbd39; */
  border: 2px dashed #ffbd39;
  border-radius: 45px;
  z-index: 9;
  position: fixed;
  top: 0%;
  font-size: 6.5px;
  font-weight: 500;
  color: #fff;
}
.overlay{
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 10;
}
