*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  overflow-x:hidden !important;
  /* background-color: #111 !important; */
}
a{
  color: #fff !important;
  text-decoration: none !important;
}
/* webnav start */

.webnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  background-color: none;
  padding: 0% 4%;
}
.webnavul{
  display:  flex;
  align-items: center;
  margin: 0%;
}
li {
  list-style: none;
  margin-left: 2em;
  font-weight: 500;
  transition: 0.3s;
  letter-spacing: 2px;
}
.webnavul a{
  text-decoration: none;
}


/* resp nav start */

.respnav{
  height: 100vh;
  width: 100%;
  background-color: #111 ;
  z-index: 999;
  position: fixed;
  top: 0%;
  right: -100%;
}
.resp-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 6%;
  height: 6em;
}
.respul{
  height: 70vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: start;
  font-size: 1.5rem;
  text-align: left;
  padding: 0%;
  margin: 0%;
}
.respul {
  color: #fff !important;
  text-decoration: none;
}

/* menu section start */

.menu{
  cursor: pointer;
  display: none;
}

/* media query for resp */
@media(max-width:768px){
  .webnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    background-color: none;
    padding: 0% 6%;
  }
  .menu{
      height: 3.2em;
      width: 3.2em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }
  .webnav ul{
      display: none;
  }
}
@media(min-width:770px){
  .respul{
    display: none;
  }
  .respnav{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0%;
    display: none;
  }
  }

/* hero section start */

.hero-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 100%;
  cursor: default;
  box-sizing: border-box;
  /* padding: 0% 4.5%; */
  overflow-x: hidden !important;
}
.hero-detail h2{
  font-size: 3.5rem;
 }
 .hero-btn{
  padding: 10px 40px;
  font-size: 15px;
  position: relative;
  background: transparent;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #ffbd39;
  cursor: pointer;
  overflow: hidden;
  border-radius: 100px;
  margin-top: 1em;
}

.hero-btn:hover {
  color: #000;
  font-weight: bold;
}
.hero-btn span {
  transition: all 0.7s;
  z-index: -1;
}

.hero-btn .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #ffbd39;
}

.hero-btn:hover .first {
  top: 0;
  right: 0;
}
.hero-btn .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #ffbd39;
}

.hero-btn:hover .second {
  top: 0;
  left: 50%;
}

.hero-btn .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #ffbd39;
}

.hero-btn:hover .third {
  top: 0;
  left: 25%;
}

.hero-btn .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #ffbd39;
}

.hero-btn:hover .fourth {
  top: 0;
  left: 0;
}
.hero-img{
  height: 450px;
  width: auto;
}

@media (max-width:1000px){
  .hero-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    cursor: default;
    padding: 0% 4%;
  }
  .hero-detail h2 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 0%;
  }
  .hero-img{
    height: 450px;
    width: auto;
  }
}
@media (max-width:780px){
  .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100%;
    cursor: default;
  }
  .hero-detail{
    text-align: center;
  }
  .hero-detail h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0%;
  }
  .hero-img{
    height: 300px;
    width: auto;

  }
}

 /* about section start */
 #about{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6em;
}
#about h2{
  text-align: center;
  font-size: 2.6rem;
  color: #ffffff;
  font-weight: bold;
  /* margin-top: 2em; */
}
.about-overlay{
  position: absolute;
    top: 25%;
    left: -17%;
    font-size: 5.5rem;
    letter-spacing: 4px;
    z-index: -99;
    color: #9999992c;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .about-outer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  cursor: default;
  position: relative;
}
.about-detail{
  width: 30em;
  text-align: center;
  z-index: 11;
}
.about-detail h2{
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0.5em;
 }
 .about-detail p{
  font-weight: 400;
  color: #ffffffab;
  text-align: center;
 }
.about-img{
  height: 300px;
  width: auto;
  border-radius: 16px;
}
@media (max-width:1000px){
  .about-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    cursor: default;
    position: relative;
    gap: 2em;
  }
  .about-detail h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }
  .about-detail p{
    font-weight: 400;
    color: #ffffffab;
    text-align: center;
   }
   .about-img-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .about-img{
    height: 250px;
    width: auto;
  }
}
@media (max-width:780px){
  #about{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-outer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 100%;
    cursor: default;
    position: relative;
  }
  .about-detail{
    text-align: center;
    height: 80%;
    margin-bottom: 0.5em;
  }
  .about-detail h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0%;
  }
  .hero-img{
    height: 200px;
    width: auto;

  }
}
@media(max-width:590px){
  .about-detail{
    width: 18em;
    height: 100%;
    text-align: center;
  }
}


  /* services section start */

  #services{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }
  #services h2{
    text-align: center;
    font-size: 2.4rem;
    color: #ffffff;
    /* margin-top: 2em; */
    font-weight: bold;
  }
  .service-overlay{
    position: absolute;
      top: 30%;
      left: -10%;
      font-size: 3.8rem;
      letter-spacing: 4px;
      z-index: -99;
      color: #9999992c;
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .services-outer{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .col{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .row{
      align-content: center;
      justify-content: center;
    }
  .service-cards{
      width: 25rem !important;
      height: 10em !important;
      transition: 0.6s !important;
      color: #ffffff !important;
      z-index: 9;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .service-cards:hover{
    background-color: #ffbd39 !important;
    cursor: help;
  }
  .service-cards h3{
    font-weight: 500 !important;
    transition: 0.3s ease !important;
    letter-spacing: 2px !important;
    text-align: center !important;
}
  .service-cards:hover h3{
    transform: scale(1.1) !important;
  }
@media (max-width:780px){
  .services-outer{
    margin-top: 4em;
  }
}
  @media(max-width:480px){
      .service-cards{
          width: 17rem !important;
          height: 10rem !important;
          margin: 0% auto;
          z-index: 9;
  }
  }
@media(max-width:1000px){
  #services{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .services-outer{
    height:fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
  
 /* skills section start */
 #skills{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.skill-heading{
  position: relative;
  margin-top: 3em;
}
#skills h2{
  text-align: center;
  font-size: 2.6rem;
  color: #ffffff;
  font-weight: bold;
  /* margin-top: 2em; */
}
.skill-overlay{
  position: absolute;
  top: 20%;
  left: -20%;
  font-size: 5.5rem;
  letter-spacing: 4px;
  z-index: -99;
  color: #9999992c;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
.skill-outer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
.skill-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 1.5%;
  margin-bottom: 0%;
}
.skills{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
progress{
  width: 25em;
  height: 15px;
  border-radius: 10px;
}
progress::-webkit-progress-bar {
  background-color:#ffffff;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color:#ffbd39;
  border-radius: 10px;
  transition: width 0.4s ease-in;
}
@media(max-width:1200px){
  progress{
    width: 30em;
    height: 15px;
    border-radius: 10px;
  }
}
@media(max-width:1050px){
  progress{
    width: 20em;
    height: 15px;
    border-radius: 10px;
  }
}
@media(max-width:760px){
  .skill-outer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin-top: 4em;
    margin-bottom: 4em;
    position: relative;
    gap: 2em;
  }
  #skills{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  progress{
    width: 16em;
    height: 15px;
    border-radius: 10px;
  }
}


/* project section start */
#project{
  /* height: 100%;
  width: 100%; */
  overflow-x: hidden !important;
}
.skill-heading h2 {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
}

.project-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.project-overlay {
  position: absolute;
  top: 30%;
  font-size: 3.8rem;
  letter-spacing: 4px;
  z-index: -99;
  color: #9999992c;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.project-outer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.project-content{
  height: fit-content;
  width: 25em;
  padding: 0% 2%;
  color: #ffffff;
}
.project-content button {
  height: 2em;
  width: 8em;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}
.project-img{
  height: 18em;
  width: 28em;
  border-radius: 16px;
  transform: skewX(10deg);
}
.project-img:hover {
  box-shadow: 0px 0px 40px 0px #ffffff62;
}
#first-img{
  background-image: url(./assets/fastfoodresturant.png);
  background-position: center;
  background-size: cover;
}
#second-img{
  background-image: url(./assets/sports\ info.png);
  background-position: center;
  background-size: cover;
  transform: skewX(-10deg);
}
#third-img{
  background-image: url(./assets/sports\ info.png);
  background-position: center;
  background-size: cover;
}
@media(max-width:960px){
  .project-outer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-top: 5em;
  }
 #second-project{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }
  .project-img {
    height: 12em;
    width: 20em;
  }
  .project-img:hover {
    box-shadow: 0px 0px 40px 0px #ffffff62;
  }
  #second-img:hover {
      box-shadow: 0px 0px 40px 0px #ffffff62;
    }
  .project-content {
    width: 20em;
    text-align: center;
  }
}
@media(max-width:400px){
  .project-img {
    height: 12em;
    width: 16em;
    position: relative;
    border-radius: 16px;
    transform: skewX(10deg);
  }
  .project-content {
      width: 18em;
      text-align: center;
    }
}

/* contact section start */
#contact{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.contact-heading h2 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
}

.contact-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.contact-overlay {
  position: absolute;
  top: 30%;
  font-size: 3.8rem;
  letter-spacing: 4px;
  z-index: -99;
  color: #9999992c;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 /* .container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.form {
  /* height: 500px; */
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  /* z-index: 1000; */
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5em;
}

.contact-form {
  background-color: #111;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #ffbd39);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #ffbd39;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 5px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa !important;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 100%;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #111;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #111;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.information i {
  color: #111;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1111118c, #ffbd39);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #111;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}
.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
} 





/* icons */

#icons{
  display: flex;
  align-items: center;
  gap: 1em;
  position: fixed;
  bottom: 2%;
  left: 1%;
  z-index: 9999;
}


/* cursor */

#cursor{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 50px;
  background-color: #ffbd39;
  /* border: 2px dashed #ffbd39; */
  border-radius: 45px;
  z-index: 9;
  position: fixed;
  top: 0%;
  font-size: 6.5px;
  font-weight: 500;
  color: #fff;
  mix-blend-mode: difference;
}
/* .overlay{
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 10;
} */
